/* Estilos generales */
.contacto {
    padding: 20px;
    margin-left: 35%;
    margin-top: 40px;
    font-family: "Bebas Neue", sans-serif;
}

.title, .parrafo {
    font-family: "Bebas Neue", sans-serif;
}

.title {
    font-size: 15px;
    color: #fff;
    margin-bottom: 20px;
}

.title h1 {
    margin: 0;
    color: #ffffff;
}

.parrafo {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    margin-top: 20px;
    text-align: left;
    max-width: 480px;
}

.parrafo span {
    color: #5c5a5a;
}

p {
    text-align: center;
}

/* Formulario */
.formulario {
    border-radius: 5px;
    padding: 0px;
    margin-right: 65%;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #faf605;
    color: #000000;
    padding: 10px 48%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #fcf831;
}

/* Media queries */
@media screen and (max-width: 1024px) {
    .contacto {
        margin-left: 25%;
        padding: 15px;
    }

    .title, .parrafo {
        font-size: 14px;
        max-width: 100%;
    }

    .formulario {
        margin-right: 55%;
    }

    input[type="text"], input[type="email"], textarea {
        padding: 8px;
    }

    button[type="submit"] {
        padding: 10px 45%;
    }
}

@media screen and (max-width: 768px) {
    .contacto {
        margin-left: 10%;
    }

    .formulario {
        margin-right: 45%;
    }

    input[type="text"], input[type="email"], textarea {
        padding: 6px;
    }

    button[type="submit"] {
        padding: 10px 40%;
    }
}

@media screen and (max-width: 480px) {
    .contacto {
        margin-left: 5%;
    }

    .formulario {
        margin-right: 35%;
    }

    input[type="text"], input[type="email"], textarea {
        padding: 4px;
    }

    button[type="submit"] {
        padding: 15px 44%;
    }
}
