/* Estilos base */
.home {
    padding: 20px;
    margin-left: 35%;
    margin-top: 150px;
    font-family: "Bebas Neue", sans-serif;
}

.title h1 {
    font-size: 40px;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
}

.title a {
    color: #000000;
    text-decoration: none;
    background-color: #a9c2f8;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    margin-top: 10px;
}

.text p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    margin-top: 20px;
    text-align: left;
    max-width: 300px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 41%;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.foto-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #fffd6d;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.foto-img:hover {
    transform: scale(1.1);
}

.logo img {
    width: 45px;
    height: 45px;
    display: flex;
    margin-left: -85px;
    align-items: center;
    margin-top: 20px;
}

.cl-text {
    color: #fffd6d;
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon svg {
    width: 30px;
    height: 30px;
}


/* Tablets y dispositivos móviles */
@media (max-width: 1024px) {
    .home {
        margin-left: 25%;
    }

    .content {
        width: 60%;
    }

    .icon {
        align-items: center;
    }
}

/* Móviles */
@media (max-width: 768px) {
    .home {
        margin-left: 10%;
        margin-top: 100px;
    }

    .icon {
        margin-left: 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .foto {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .foto-img {
        width: 100px;
        height: 100px;
    }

    .logo img {
        margin-left: 0;
    }
}

/* Móviles pequeños y pantallas pequeñas */
@media (max-width: 480px) {
    .home {
        margin-left: 5%;
    }

    .text p {
        max-width: 100%;
    }
}
