/* Estilos del scrollbar */
::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #faf605; 
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #faf605; 
}

::-webkit-scrollbar-track {
    background-color: #333;
}

.navbar,
.nav-menu {
    font-family: "Bebas Neue", sans-serif;
}

.menu-btn {
    display: none; 
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 15px 20px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 200px;
    width: 90%; /* Cambiado a un porcentaje para hacerlo responsivo */
    max-width: 650px; /* Limitar el ancho máximo */
    margin: 0 auto;
}


.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: max-height 0.3s ease-in-out; 
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px; /* Reducido el espacio entre elementos */
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px; 
    transition: color 0.3s ease-in-out; 
    cursor: pointer;
}

.nav-menu li a:hover {
    color: #faf605;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #faf605;
}

@media screen and (max-width: 1024px) {
    .navbar {
        width: 95%; /* Ajustar el ancho en pantallas más pequeñas */
    }

    .nav-menu li {
        margin-right: 15px; /* Reducir el espacio entre elementos */
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between; 
    }

    .nav-menu {
        margin: 0;
        padding: 0;
        display: none; 
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000; 
        width: 100%; /* Utilizar todo el ancho disponible */
    }

    .nav-menu.show {
        display: block; 
        max-height: 300px; 
        overflow-y: auto; 
    }

    .nav-menu li {
        display: block;
        margin: 15px 0;
        text-align: center;
    }

    .nav-menu li a {
        font-size: 16px; 
    }

    .menu-btn {
        display: block; 
    }
}

.menu-btn.hide {
    display: none;
}
