/* Estilos base */
.proyectos {
    padding: 20px;
    margin-left: 28%;
    margin-top: 140px;
    font-family: "Bebas Neue", sans-serif;
    width: 150px;
}

.title h1 {
    font-size: 40px;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
}

.subtitulo p span {
    color: #5c5a5a;
    font-family: "Bebas Neue", sans-serif;
}

.card {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(195, 0, 255, 0.795);
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    width: 200px;
    height: 250px;
    background-color: #faf605;
}

.icons svg {
    width: 20px; 
    height: 25px; 
    margin-left: 20px;
    margin-top: -10px;
}

h2{
    margin-left: 20px;
    margin-bottom: 3px;
    color: #faf605;
}


h4{
    margin-left: 20px;
    margin-top: -4px;
}

.foto1 img {
    width: 105%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.contenido {
    padding: 20px;
}


span::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 80%;
    height: 1px;
}

.subtitulo p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    margin-top: 20px;
    text-align: left;
    max-width: 480px;
}

.logo {
    width: 40px;
    height: auto;
    margin-bottom: 20px;
}


@media only screen and (max-width: 1200px) {
    .proyectos {
        margin-left: 25%;
    }
}

@media only screen and (max-width: 992px) {
    .proyectos {
        margin-left: 25%;
    }

    .title h1 {
        font-size: 30px;
    }

    .subtitulo p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .proyectos {
        margin-left: 10%;
    }

    .title h1 {
        font-size: 25px;
    }

    .subtitulo p {
        font-size: 12px;
    }

    .proyecto,
    .proyecto img {
        width: 200px;
    }

    .logo {
        width: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .proyectos {
        margin-left: 5%;
        padding: 15px;
    }

    .title h1 {
        font-size: 20px;
    }

    .subtitulo p {
        font-size: 13px;
    }

    .proyecto,
    .proyecto img {
        width: 150px;
    }

    .logo {
        width: 25px;
    }
}
