/* Estilos generales */
.redes-container {
    padding: 20px;
    margin-top: 5px;
    text-align: center; 
    margin-left: -35px;
}

.redes-container a,
.redes-container svg {
    font-family: "Bebas Neue", sans-serif;
}

.redes-container a {
    font-size: 45px;
    color: #fff;
    margin-right: 10px;
}

.redes-container svg {
    width: 40px;
    height: 40px;
    fill: url(#a);
}

/* Media queries para hacerlo responsivo */

@media screen and (max-width: 1024px) {
    .redes-container {
        margin-left: 35%;
    }

    .redes-container a {
        font-size: 40px;
    }

    .redes-container svg {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 768px) {
    .redes-container {
        margin-left: 25%;
        text-align: center; /* Centra los íconos en pantallas pequeñas */
    }

    .redes-container a {
        font-size: 35px;
    }

    .redes-container svg {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 480px) {
    .redes-container {
        margin-left: -55%;
        padding: 10px;
        text-align: center; /* Centra los íconos en pantallas más pequeñas */
    }

    .redes-container a {
        font-size: 30px;
        margin-right: 8px;
    }

    .redes-container svg {
        width: 25px;
        height: 25px;
    }
}
