/* Estilos generales */
.redes-container {
    padding: 20px;
    margin-top: 5px;
    text-align: center; 
    margin-left: 10%;
    background-color: #f59e0b; 
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 9999px; 
}

