/* Estilos generales */
.redes-container {
    padding: 20px;
    margin-top: 5px;
    text-align: center; 
    margin-left: 8%;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .redes-container {
        margin-left: 120px; 
    }
}
